@import "tailwindcss";

body {
  margin: 0; /* Optional: Removes default body margin */
  width: 100vw;
  overflow-x: hidden;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

#scrollbar::-webkit-scrollbar {
  display: none;
}
